#rent-house-root {

  display: flex;
  flex-direction: column;

  #rent-house-title{
    font-size: 2rem;
    color: #333333;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

  #top-img{
    width: 100%;
    height: 120px;
  }
}
