html, body {
  background-color: white;
}

#intro-root-view {
  display: flex;
  flex-direction: column;

  .img-content {
    width: 100%;
  }

  #btn-container {
    background-color: #36353b;
    width: 100%;
    background-size: 100% auto;
    display: flex;
    height: 600px;
    flex-direction: column;


    #app-info {
      font-weight: bold;
      margin-top: 80px;
      color: white;
      font-family: Arial;
      font-size: 1.0rem;
    }

    img {
      height: 180px;
      width: 180px;
      margin: 0px auto;
      margin-top: 80px;
    }

    #we-chat-info {
      color: white;
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      margin-top: 35px;
      font-size: 0.8rem;
    }

    #down-btn {
      font-weight: bold;
      width: 160px;
      margin-top: 35px;
      text-align: center;
      padding: 15px 20px;
      color: #666666;
      border-radius: 20px;
      background: white;
      //background: rgba(235, 235, 235, 0.3);
    }
  }

  .img-title {
    width: 30%;
    margin: 20px auto;
  }

  span {
    margin: 0px auto;
    color: #999999;
  }

  #about-us {
    font-size: 1.0rem;
    margin-top: 30px;
    padding: 5px;
  }

  #copyright {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 0.8rem;
  }
}