html, body {
  background-color: white;
}

#intro-root-view {
  display: flex;
  flex-direction: column;

  .img-content {
    width: 100%;
  }

  #btn-container {
    background: url("./app_intro_01.png") no-repeat ;
    width: 100%;
    background-size: 100% auto;
    display: flex;
    height: 650px;
    justify-content: space-around;

    span {
      margin: auto 0px;
      margin-top: 120px;
      text-align: center;
      padding: 15px 20px;
      color: #939393;
      border-radius: 20px;
      background: #ffffff99;
    }
  }

  .img-title {
    width: 30%;
    margin: 20px auto;
  }

  span {
    margin: 0px auto;
    color: #999999;
  }

  #about-us {
    font-size: 1.0rem;
    margin-top: 30px;
    padding: 5px;
  }

  #copyright {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 0.8rem;
  }
}