html, body {
  background: white
}

#english-root {
  display: flex;
  flex-direction: column;
  margin: 10px;


  #time {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #333333;
    font-weight: bold;
    font-size: 1.0rem;
  }

  #english-title {
    color: #222222;
    text-indent:1.5em;
    font-size: 1.4rem;
    font-weight: bold;
    word-break: break-all;
  }

  #chinese-title {
    margin: 5px;
    color: #555555;
    font-size: 1.0rem;
  }

  #english-content-img {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 200px;
  }

  #english-content {
    color: #666666;
    font-size: 1.1rem;
    text-indent:1.5em;
    word-break: break-all;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    line-height: 1.5

  }

  #chinese-content {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #666666;
    font-size: 1.0rem;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    line-height: 1.5
  }
}