html, body {
    background: white;
  }
  
  span{
      margin-top: 20px;
      margin-bottom: 20px;
      color: #666666;
      font-size: 1.2rem;
       font-weight: bold;
  }

  img{
      margin-top: 20px;
     width: 100%; 
     margin-bottom: 20px;
  }
#getpassword-root{
    display:flex;
    flex-direction: column;
    align-items: center;

    #title{
        margin-top: 40px;
        color: #000;
    }

    .item-root{
    
        margin-top: 20px;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
}
