#login-root {
  flex-direction: column;
  display: flex;

  #top-view {
    width: 100%;
    height: 300px;
    background-color: #009688;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;


    #app-title {
      margin-top: 30px;
      color: white;
      font-size: 1.6rem;
      text-decoration: none;
      border-bottom: 2px solid red;

    }

    #app-info {
      margin-top: 40px;
      color: white;
      font-size: 0.9rem;
    }
  }

  #bottom-view {
    width: 100%;
    flex: 5.5;
    flex-direction: column;
    display: flex;
    align-items: center;

    #input-username {
      margin-top: 30px;
      width: 85%;
      height: 40px;
      border: 0px;
      outline: none;
      color: #009688;
      border-bottom: 2px solid red;
    }

    #input-password {
      margin-top: 20px;
      width: 85%;
      height: 40px;
      border: 0px;
      outline: none;
      color: #009688;
      border-bottom: 2px solid red;
    }


    #login-container {
      width: 88%;
      margin-top: 20px;
      display: flex;
      height: 100px;
      flex-direction: column;
      position: relative;

      #btn-login {
        margin-top: 20px;
        height: 50px;
        border-radius: 10px;
        width: 100%;
        color: white;
        text-align: center;
        line-height: 50px;
        font-size: 1.1rem;
        background-color: #009688;
      }

      #forget-password {
        position: absolute;
        bottom: 0px;
        margin-top: 5px;
        right: 0px;
        color: #009688;
        text-align: center;
        font-size: 0.9rem;
      }
    }


    #team-info {
      position: absolute;
      bottom: 5px;
      align-self: center;
      font-size: 0.6rem;
      color: #7f7f7f;
    }
  }
}

input::-webkit-input-placeholder {
  color: #009688;
  font-size: 0.9rem;
}